body { 
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	background: url('../img/bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#player {
	background: #000000 !important;
}
body h1{ 
	color: #FFFFFF !important; 
}
body p{ 
	color: #FFFFFF !important; 
}
#card-filme {
	width: 10rem;
}
#button-assistir {
	width: 150px;
}
