@import url("https://fonts.googleapis.com/css?family=Hind:400,700");
html { 
	background: url('../img/bg.jpg') no-repeat center center fixed; 
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#player {
	background: #000000 !important;
}
body h1{ 
	color: #FFFFFF !important; 
}
body p{ 
	color: #FFFFFF !important; 
}
#card-filme {
	width: 10rem;
}
#button-assistir {
	width: 150px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
h3 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
}