@import url("https://fonts.googleapis.com/css?family=Hind:400,700");
.main-body {
	background: url('../img/bg.jpg') no-repeat center center fixed;
	background-size: cover;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}
.sessao {
	margin-top: 100px;
}
.header-topo {
	position: fixed;
	top: 0px;
    width: 100%;
	z-index: 1;
}
.nome-filme {
	color: #FFFFFF;
}
.nome-categoria {
	color: #FFFFFF; 
}
.capa-filme {
	display: block;
	height: auto;
	margin:auto;
	max-width: 100%;
}
