<!DOCTYPE html>
<html ng-app="main">
	<head>
		<title>Home</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content="Classicine">
		<meta name="author" content="Kleber Nunes">
		<link rel="shortcut icon" href="img/ico.png" />
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	</head>
	
	<body ng-controller="MainController">
		<div class="container">
			<h1 class="page-header">Home</h1>
			
			
			<div ng-repeat="categoria in categorias">
				<h1>{{categoria.nome}}</h1>
				
				<div ng-repeat="filme in categoria.filmes">
					<img src="{{filme.imagem}}" height="200" width="180" class="img-rounded" alt="Cinque Terre">
						
					<p>Filme: {{filme.nome}}</p>
					<a class="btn btn-primary" ng-click="assistir(filme)" href="html/player.html" role="button">Assistir<br/></a>
					<br/><br/>
				</div>
			</div>
		</div>
	</body>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/filme.js"></script>
</html>