<!DOCTYPE html>
<html lang="pt-br" ng-app="main">
	<head>
		<title>Home</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" content="Classicine">
		<meta name="author" content="Kleber Nunes">
		
		<link rel="shortcut icon" href="img/icon_classic.png" />
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="css/ui-bootstrap-csp.css">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	</head>
	
	<body class="main-body" ng-controller="MainController">
	
		<header class="header-topo">
		
            <nav class=".col-sm-4 .col-md-4 .col-lg-4 .col-xl-4 navbar navbar-inverse">
				<div class="container-fluid">
					<div class="nav navbar-nav navbar-left">
						<li class="icon-home">
							<a href="index.html">
								<font class="logo">ClassiCine</font>
							</a>
						</li>
					</div>
					
					<div class=".col-sm-2 .col-md-2 .col-lg-2 .col-xl-2 navbar-right">
						<form class="navbar-form" role="search" method="get" id="search-form" name="search-form" action="html/pesquisar.html">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Pesquisa" id="nome" name="nome">
								
								<div class="input-group-btn">
									<button type="submit" value="Search" class="btn btn-default">
										<span class="glyphicon glyphicon-search"></span>
									</button>
								</div>
							</div>
						</form>
					</div>
					
				</div>
			</nav> 
			
		</header>
		
		<section class="sessao">
			<div class="container">
				<uib-accordion-header ng-repeat="categoria in categorias">
					<h1 class="nome-categoria">{{categoria.nome}}<h1>
					
					<uib-carousel active="activeSlide">
						<uib-slide ng-repeat="filme in categoria.filmes" index="$index">
							
							<div class="info-filme">

								<img class="capa-filme" ng-src="{{filme.imagem}}" style="margin:auto;">
								<p class="nome-filme">{{filme.nome}}</p>
								
								<div class="movie-btn">
									<a 	type="button"
										ng-click="assistir(filme)" 
										href="player.html" 
										role="button">Assistir</a>
								</div>
								
								<!--
								<a class="btn btn-danger btn-lg" 
									ng-click="assistir(filme)" 
									href="html/player.html" 
									role="button">Assistir</a>
								-->

							</div>
						
						</uib-slide>
					</uib-crousel>
					
				</uib-accordion-header>
			</div>
		</section>
		
		<footer class="bg-faded text-center py-2">
			<div class="container">
				<p class="m-0">Copyright &copy; Studio Trek 2018</p>
			</div>
		</footer>
	</body>
	
	<script src="js/angular-ui-bootstrap.1.2.1.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
	<script src="https://cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="
	sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script type="text/javascript" src="js/main.js"></script>
</html>